<a href="https://colab.research.google.com/github/ibrahim810/AI_JUST/blob/main/python_lecture_4%265.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data feature engineering

In [1]:
import pandas as pd

In [2]:
!git clone 'https://github.com/ibrahim810/AI_JUST'

fatal: destination path 'AI_JUST' already exists and is not an empty directory.

In [3]:
titanic = pd.read_csv('/content/AI_JUST/titanic.csv',index_col='PassengerId')

In [4]:
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [6]:
ML_data = titanic.copy()

In [7]:
ML_data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
ML_data.drop(['Name','SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'],axis=1,inplace=True)

In [9]:
ML_data.head()

             Survived  Pclass     Sex   Age     Fare
PassengerId
1                   0       3    male  22.0   7.2500
2                   1       1  female  38.0  71.2833
3                   1       3  female  26.0   7.9250
4                   1       1  female  35.0  53.1000
5                   0       3    male  35.0   8.0500

In [10]:
ML_data[ML_data.Age.isna()]

             Survived  Pclass     Sex  Age     Fare
PassengerId
6                   0       3    male  NaN   8.4583
18                  1       2    male  NaN  13.0000
20                  1       3  female  NaN   7.2250
27                  0       3    male  NaN   7.2250
29                  1       3  female  NaN   7.8792
...               ...     ...     ...  ...      ...
860                 0       3    male  NaN   7.2292
864                 0       3  female  NaN  69.5500
869                 0       3    male  NaN   9.5000
879                 0       3    male  NaN   7.8958
889                 0       3  female  NaN  23.4500

[177 rows x 5 columns]

In [11]:
ML_data['Age']

PassengerId
1      22.0
2      38.0
3      26.0
4      35.0
5      35.0
       ...
887    27.0
888    19.0
889     NaN
890    26.0
891    32.0
Name: Age, Length: 891, dtype: float64

In [12]:
ML_data['Age'].mean()

29.69911764705882

In [13]:
ML_data['Age'] = ML_data['Age'].fillna(ML_data['Age'].mean())

In [14]:
ML_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   Fare      891 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 41.8+ KB

In [15]:
data_w1 =ML_data.copy()
data_w2 =ML_data.copy()

In [16]:
%%time
data_w1['Sex'] = data_w1['Sex'].apply(lambda x: 0 if x=='male' else 1)

CPU times: user 2.08 ms, sys: 56 µs, total: 2.13 ms
Wall time: 2.56 ms

In [17]:
# %%time
# for i in x:
#     if data_w2['Sex'][i] == 'male' :
#         data_w2['Sex'][i] = 0
#     else:
#         data_w2['Sex'][i] = 1

In [18]:
data_w1

             Survived  Pclass  Sex        Age     Fare
PassengerId
1                   0       3    0  22.000000   7.2500
2                   1       1    1  38.000000  71.2833
3                   1       3    1  26.000000   7.9250
4                   1       1    1  35.000000  53.1000
5                   0       3    0  35.000000   8.0500
...               ...     ...  ...        ...      ...
887                 0       2    0  27.000000  13.0000
888                 1       1    1  19.000000  30.0000
889                 0       3    1  29.699118  23.4500
890                 1       1    0  26.000000  30.0000
891                 0       3    0  32.000000   7.7500

[891 rows x 5 columns]

In [19]:
new_data=ML_data.copy()
new_data.head()

             Survived  Pclass     Sex   Age     Fare
PassengerId
1                   0       3    male  22.0   7.2500
2                   1       1  female  38.0  71.2833
3                   1       3  female  26.0   7.9250
4                   1       1  female  35.0  53.1000
5                   0       3    male  35.0   8.0500

In [20]:
one_hot = pd.get_dummies(new_data['Sex'])

In [21]:
one_hot

             female  male
PassengerId
1                 0     1
2                 1     0
3                 1     0
4                 1     0
5                 0     1
...             ...   ...
887               0     1
888               1     0
889               1     0
890               0     1
891               0     1

[891 rows x 2 columns]

In [22]:
new_data = new_data.join(one_hot)

In [23]:
new_data.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Fare', 'female', 'male'], dtype='object')

In [24]:
new_data=new_data[['Pclass', 'Age', 'Fare', 'female', 'male','Survived']]

In [25]:
new_data

             Pclass        Age     Fare  female  male  Survived
PassengerId
1                 3  22.000000   7.2500       0     1         0
2                 1  38.000000  71.2833       1     0         1
3                 3  26.000000   7.9250       1     0         1
4                 1  35.000000  53.1000       1     0         1
5                 3  35.000000   8.0500       0     1         0
...             ...        ...      ...     ...   ...       ...
887               2  27.000000  13.0000       0     1         0
888               1  19.000000  30.0000       1     0         1
889               3  29.699118  23.4500       1     0         0
890               1  26.000000  30.0000       0     1         1
891               3  32.000000   7.7500       0     1         0

[891 rows x 6 columns]

In [26]:
features = new_data.drop('Survived',axis=1)
labels = new_data['Survived']

In [27]:
features = features.drop(['Age','Fare'],axis=1)
features.columns

Index(['Pclass', 'female', 'male'], dtype='object')

### ML

In [28]:
from sklearn.model_selection import train_test_split 
from sklearn import preprocessing

X_train, X_test, y_train, y_test = train_test_split(features,labels,test_size=0.2)

In [29]:
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

DT_model =DecisionTreeClassifier()
NB_model = GaussianNB()
SVM_model = svm.SVC(C=0.1,degree=1,kernel='linear', max_iter=400)

In [30]:
SVM_model.fit(X_train,y_train)
NB_model.fit(X_train,y_train)
DT_model.fit(X_train,y_train)

y_predict = SVM_model.predict(X_test)
nb_y_predict = NB_model.predict(X_test)
dt_y_predict = DT_model.predict(X_test)

acc = accuracy_score(y_test,y_predict)
nb_acc = accuracy_score(y_test,nb_y_predict)
dt_acc = accuracy_score(y_test,dt_y_predict)

print('SVM Accuracy is : {:.2%}'.format(acc))
print('GaussianNB Accuracy is : {:.2%}'.format(nb_acc))
print('Decision Tree Accuracy is : {:.2%}'.format(dt_acc))

SVM Accuracy is : 78.21%
GaussianNB Accuracy is : 78.21%
Decision Tree Accuracy is : 76.54%

### Adult make above 50k DataSet


*   https://archive.ics.uci.edu/ml/datasets/Adult

In [31]:
!git clone 'https://github.com/oriolromani/adult-data-set'

fatal: destination path 'adult-data-set' already exists and is not an empty directory.

In [32]:
DATA_LABELS = {
    "workclass": ["Private", "Self-emp-not-inc", "Self-emp-inc", "Federal-gov", "Local-gov", "State-gov", "Without-pay",
                  "Never-worked"],

    "salary": ["<=50K", ">50K"],
    "education": ["Bachelors", "Some-college", "11th", "HS-grad", "Prof-school", "Assoc-acdm", "Assoc-voc", "9th",
                  "7th-8th", "12th", "Masters", "1st-4th", "10th", "Doctorate", "5th-6th", "Preschool"],
    "marital-status": ["Married-civ-spouse", "Divorced", "Never-married", "Separated", "Widowed",
                       "Married-spouse-absent", "Married-AF-spouse"],
    "occupation": ["Tech-support", "Craft-repair", "Other-service", "Sales", "Exec-managerial", "Prof-specialty",
                   "Handlers-cleaners", "Machine-op-inspct", "Adm-clerical", "Farming-fishing", "Transport-moving",
                   "Priv-house-serv", "Protective-serv", "Armed-Forces"],
    "relationship": ["Wife", "Own-child", "Husband", "Not-in-family", "Other-relative", "Unmarried"],
    "race": ["White", "Asian-Pac-Islander", "Amer-Indian-Eskimo", "Other", "Black"],
    "sex": ["Female", "Male"],
    "native-country": ["United-States", "Cambodia", "England", "Puerto-Rico", "Canada", "Germany",
                       "Outlying-US(Guam-USVI-etc)", "India", "Japan", "Greece", "South", "China", "Cuba", "Iran",
                       "Honduras", "Philippines", "Italy", "Poland", "Jamaica", "Vietnam", "Mexico", "Portugal",
                       "Ireland", "France", "Dominican-Republic", "Laos", "Ecuador", "Taiwan", "Haiti", "Columbia",
                       "Hungary", "Guatemala", "Nicaragua", "Scotland", "Thailand", "Yugoslavia", "El-Salvador",
                       "Trinadad&Tobago", "Peru", "Hong", "Holand-Netherlands"]
    }

NAMES = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship",
         "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "salary"]

In [33]:
def substitute_unknown_values(data):
    # Substitute ? values in 'occupation, 'workclass' and 'native_country' with the most common value in those columns
    
    for klass in ["occupation", "native-country", "workclass"]:
        median_klass_value = int(data[klass].loc[data[klass] != "?"].median())
        data.loc[data[klass] == "?", klass] = median_klass_value
    return data

def process_data(data):
    for key, labels in DATA_LABELS.items():
        for index, label in enumerate(labels):
            data.loc[data[key] == label, key] = index

    data = substitute_unknown_values(data)

    # select data and labels
    x = data.drop("salary", axis=1)
    y = data["salary"]
    return x, y

In [34]:
train_data = pd.read_csv(open('/content/adult-data-set/adult.data'),  header=None, delimiter=' *, *', engine='python', names=NAMES)
data = train_data.copy()
data_sample = train_data.copy().sample(10000)

x_train_sample, y_train_sample = process_data(data_sample)
x_train, y_train = process_data(train_data)
y_train=y_train.astype('int')
y_train_sample=y_train_sample.astype('int')

# test data
print("Processing test data")
test_data = pd.read_csv(open('/content/adult-data-set/adult.test'),  header=None, delimiter=' *, *', engine='python', names=NAMES)
# process for test data:
# remove first line
test_data = test_data.drop([0])
# replace unnecessary '.' character in test data
test_data['salary'] = test_data['salary'].str.replace('.', '')
x_test, y_test = process_data(test_data)
y_test=y_test.astype('int')

standard_scaler = preprocessing.StandardScaler()
x_train = pd.DataFrame(standard_scaler.fit_transform(x_train))
x_test = pd.DataFrame(standard_scaler.fit_transform(x_test))

Processing test data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [35]:
len(x_train_sample)

10000

In [36]:
%%time
SVM_model = svm.SVC()
SVM_model.fit(x_train_sample, y_train_sample)
acc = SVM_model.score(x_test, list(y_test))
print('SVM Accuracy is : {:.2%}'.format(acc))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

SVM Accuracy is : 76.38%
CPU times: user 13.8 s, sys: 294 ms, total: 14.1 s
Wall time: 19.8 s

In [47]:
%%time
DT_model =DecisionTreeClassifier(criterion='gini', splitter='best', max_depth=150,)
DT_model.fit(x_train,y_train)
dt_acc = DT_model.score(x_test, list(y_test))
print('Decision Tree Accuracy is : {:.2%}'.format(dt_acc))

Decision Tree Accuracy is : 81.01%
CPU times: user 212 ms, sys: 861 µs, total: 213 ms
Wall time: 214 ms

In [55]:
%%time
DT_model =DecisionTreeClassifier(criterion='gini', splitter='best', max_depth=50,)
DT_model.fit(x_train,y_train)
dt_acc = DT_model.score(x_test, list(y_test))
print('Decision Tree Accuracy is : {:.2%}'.format(dt_acc))

Decision Tree Accuracy is : 81.24%
CPU times: user 209 ms, sys: 0 ns, total: 209 ms
Wall time: 209 ms